<%- include('partes/headUser')%>  
    <%- include('partes/menuUser')%>  
    <div class="container">
        <header>
            <h1 class="title"><%=livro.title%>/<%=livro.author%></h1>
            <h1><a href="/livro/<%=livro._id%>">Editar Livro +</a></h1>
        </header>
        <section class="detalhes">
            <span class="description">
                <p>
                    <%=livro.description%>
                </p>
            </span>
            <span class="meta">
                <p>Total de paginas: <%=livro.total_pages%></p>
                <p>Total de paginas lidas: <%=livro.read_pages ? livro.read_pages : 0%></p>
            </span>
            <span class="status">            
                <% if (livro.read_pages >= livro.total_pages) { %>
                    <p>Status: concluída</p>
                <% } else { %>
                    <p>Status: em andamento </p>
                <% } %>
            </span>
            <span class="prazo">
                <p><a class="btn" href="/livro/<%=livro._id%>/atualizar">Atualizar leitura</a></p>
                <p><a class="btn" href="/livro">Voltar</a></p>
            </span>
        </section>
    </div>
<%- include('partes/footer')%>  
