<%- include('partes/headUser')%>  
    <%- include('partes/menuUser')%>  
    <div class="container">
        <header>
            <h1 class="title"><%=meta.title%></h1>
            <h1><a href="/meta/<%=meta._id%>">Editar Meta +</a></h1>
        </header>
        <section class="detalhes">
            <span class="description">
                <p>
                    <%=meta.description%>
                </p>
            </span>
            <span class="meta">
                <p>Total de livros: <%=meta.total_books%></p>
                <p>Total de livros lidos: <%=meta.read_books%></p>
            </span>
            <span class="status">            
                <% if (meta.read_books >= meta.total_books) { %>
                    <p>Status: concluída</p>
                <% } else { %>
                    <p>Status: em andamento </p>
                <% } %>
                <p>Progresso: <%=progress%>%</p>
            </span>
            <span class="prazo">
                <p>Prazo: <%=deadline%></p>
                <p><a class="btn" href="/meta/<%=meta._id%>/atualizar">Atualizar Meta</a></p>
            </span>
            <span class="prazo">
                <p><a class="btn" href="/">Voltar</a></p>
            </span>
        </section>
    </div>
<%- include('partes/footer')%>  
