<%- include('partes/headUser')%>  
    <%- include('partes/menuUser')%>  
    <div class="container">
        <header>
            <h1 class="title">Editar meta</h1>
            <form class="delete" action="/meta/<%=id%>?_method=DELETE" method="post">
                <p><input class="btn" name="delete" type="submit" value="Deletar Meta"/></p>
            </form>
        </header>
       <section>
        <form action="/meta/<%=id%>?_method=PATCH" method="post" class="registerAndEditMeta">
            <div>
                <input type="text" name="titulo" placeholder="Titulo da meta *" value="<%=meta.title%>" required>
            </div>
            <div>
                <textarea id="description" name="description" placeholder="Descrição"><%=meta.description%></textarea>
            </div>
            <div class="total_prazo">
                <div>
                    <label for="total">Total de livros * </label>
                    <input type="number" min="1" name="total_books" placeholder="Total de Livros" value="<%=meta.total_books%>" required>
                </div>
                <div>
                    <label for="prazo">Prazo * </label>
                    <input type="date" name="prazo" placeholder="DD/MM/YYYY" value="<%=deadline%>" required>
                </div>
            </div>
            <div>
                <p>* Campos obrigatórios</p>
            </div>
            <div>
                <p><input class="btn" name="edit" type="submit" value="Editar"/></p>
            </div>
            </form>
       </section>
    </div>
<%- include('partes/footer')%>  
